.grid-maping{
    display: grid;
}

.list{
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    margin-top: 1em;
}

.mapas{
    min-height: 500px;
}

.phones{
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    max-height: 600px;
}

.palabraClave{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background: royalblue;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center ;
    text-align: center;
}



.container-talonario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
}

.content-hombre{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    text-align: center;
    color: white;
}
.content-hombre div{
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 10;
    text-align: center;
    color: white;
    filter: blur(15px);
    text-align: start;
    background: rgb(0,0,0);
    background: linear-gradient(61deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9024859943977591) 0%, rgba(255,255,255,0) 100%);
    top: 5%;
    left: 0;

}

.h2-content-hombre{
    position: absolute;
    z-index: 999999;
    color: white;
    top: 45%;
    left: 5%;
    z-index: 12;
    text-align: start;
}

.p-content-hombre{
    position: absolute;
    z-index: 999999;
    color: white;
    top: 50%;
    left: 5%;
    text-align: start;
}

.content-mujer{
    position: absolute;
    top: 40%;
    left: 5%;
    width: 30%;
    color: #0A2068;
    text-align: start;
}

.img-distribuidores{
    max-width: 1300px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.img-distribuidores img{
    width: 100%;
    min-height: 300px;
    aspect-ratio:  auto;
}

@media screen and (max-width: 600px) {
    .img-distribuidores img{
        width: 100%;
        min-height: 230px;
    }
    .content-hombre{
        font-size: .8em;
        text-align: start;
    }
    .h2-content-hombre{
        position: absolute;
        z-index: 999999;
        color: white;
        top: 5%;
        left: 5%;
        z-index: 12;
        text-align: start;
    }
    
    .p-content-hombre{
        position: absolute;
        z-index: 999999;
        color: white;
        top: 15%;
        text-align: start;
    }
    .content-mujer{
        top: 10%;
        left: 5%;
        width: 30%;
        font-size: .8em;
        text-align: start;
    }
}

@media screen and (max-width: 480px) {
    h2, h3{
        font-size: 1em;
    }
    .div-animated{
        height: 300px;
    }
    .img-distribuidores img{
        width: 100%;
        min-height: 200px;
    }
    .content-hombre{
        top: 1%;
        font-size: .8em;
        text-align: start;
    }
    .content-mujer{
        top: 10%;
        left: 5%;
        width: 30%;
        font-size: .8em;
        text-align: start;
    }
}


@media screen and (max-width: 425px) {

    .content-hombre{
        font-size: .8em;
        text-align: start;
    }
    
    .h2-content-hombre{
        position: absolute;
        z-index: 999999;
        color: white;
        top: 0%;
        left: 1%;
        z-index: 12;
        text-align: start;
    }
    
    .p-content-hombre{
        position: absolute;
        z-index: 999999;
        color: white;
        top: 10%;
        left: 1%;
        text-align: start;
    }
}


@media screen and (max-width: 385px) {
    h2, h3{
        font-size: 1em;
    }
    .div-animated{
        height: 300px;
    }
    .img-distribuidores img{
        width: 100%;
        min-height: 200px;
    }
    .content-hombre{
        top: 1%;
        font-size: .7em;
        text-align: start;
    }
    .content-mujer{
        top: 10%;
        left: 5%;
        width: 40%;
        font-size: .7em;
        text-align: start;
    }
}

@media screen and (max-width: 330px) {

    .div-animated{
        height: 300px;
    }
    .img-distribuidores img{
        width: 100%;
        min-height: 200px;
    }
    .content-hombre{
        top: 1%;
        font-size: .6em;
        text-align: start;
    }
    .content-mujer{
        top: 10%;
        left: 5%;
        width: 45%;
        font-size: .6em;
        text-align: start;
    }
}