.lineas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(300px,1fr);
    gap: 20px;
    padding: 1em;
    place-items: center;
    max-width: 1450px;
    place-content: center;
}

.box{
    background: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}   


.img-linea{
    width: 100%;
    height: 18em;
    object-fit: cover;
    aspect-ratio: 1;
}

.linea{ 
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 90%;
    left: 0;
    padding: 0 1em;
    margin: 0;
    position: absolute;
    color: black;
    font-size: .5em;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}

.lineas h2{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
}

.lineas p{
    font-size: 2em;
}
.resalto{
    color: red;
}

.box:hover .linea{
    top: 0%;
    color: white;
    background-color: #0f0e0e7e;
}

.box:hover .linea > p{
    font-size: .9em;
}

.variedad{
    display: grid;
    place-content: center;
    padding-top: 1em;
    font-weight: bold;
}

.footer-section{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.6em;
    margin-bottom: .5em;
}

@media screen and (max-width:800px) {
    .box{
        border-radius:10px;
        background: white;
        width: 95%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }   
    .lineas{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: minmax(280px,1fr);
        padding: 0;
    }
    .box3{
        grid-column: span 1;
        grid-row: span 1;
    }
    .variedad{
        padding: 1em;
        font-size: 1em;
    }
    .variedad > h1{
        font-size: 1.5em;
    }
}