.h1-particle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bfc8d0; /* Reemplaza con tu color específico si es necesario */
    font-weight: 500;
    z-index: 200;
    font-size: 1.5rem;
    pointer-events: none;
  }
  
  @media (min-width: 768px) {
    .h1-particle {
      font-size: 3rem;
    }
  }

  .canvas-relative{
    position: relative;
  }
  

  .h1-particle {
    transition:
      0.35s font-weight,
      0.35s color;
  }
  
  .h1-particle:hover {
    font-weight: 900;
    color: rgb(238, 242, 255);
  }
  
  /* To the right */
  .h1-particle:hover + .h1-particle {
    font-weight: 500;
    color: rgb(199, 210, 254);
  }
  
  .h1-particle:hover + .h1-particle + .h1-particle {
    font-weight: 300;
  }
  
  /* To the left */
  .h1-particle:has(+ .h1-particle:hover) {
    font-weight: 500;
    color: rgb(199, 210, 254);
  }
  
  .h1-particle:has(+ .h1-particle + .h1-particle:hover) {
    font-weight: 300;
  }